#name change and make it .env only. u can rename this file name also
GEMINI_API_KEY="please enter your gemini api key here"
GEMINI_MODEL=gemini-3.5-flash


WAV2LIP_SERVICE_URL=http://localhost:5005

PORT=3000
